#generated
.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep

#vs & vscode
.vs/
.vscode/*
#keep debug file
!.vscode/launch.json

#old copies
*.ojs

#webstorm
#!/.idea
/.idea/*
#keep debug files
!/.idea/runConfigurations/

#old copies
*.osc
*.ovue

#webstorm
#.idea/

#logger
*.log

#unknown file, always reproduced when running app
#unknown reason at this moment
{}

#temp license files
static/assets/*.license.txt

#compiled css's
static/css/*