@titlebar-height: 2.5em;
@window-content-height: calc(100% - @titlebar-height);

.window-content-container {
    position: relative !important;

    top: @titlebar-height !important;
    height: @window-content-height !important;
}

//micro interactions
@transition-time-optimal: 0.3s;
@transition-time-fast: 0.25s;
@transition-time-veryfast: 0.2s;