@titlebar-height: 2em;
@window-content-height: calc(100% - @titlebar-height);

//@background-color: hsla(193, 43%, 5%, 1); 
@background-color: rgb(11, 12, 12); 
@foreground-color: hsla(113, 18%, 92%, 1);

@gridbase-background-color: hsla(0, 0%, 81%, 1);

@griditem-foreground-color: hsla(0, 0%, 13%, 1);
@griditem-secondary-color: hsla(0, 0%, 46%, 1);
@griditem-background-color: darken(@gridbase-background-color, 4%);
@griditem-decoration-color: darken(@griditem-background-color, 60%);

.window-content-container {
    position: relative !important;

    top: @titlebar-height !important;
    height: @window-content-height !important;
}

.shadow() {
    box-shadow: 12px 14px 30px -7px rgba(74, 74, 74, 0.85);
}

.shadow-action() {
    box-shadow: 14px 17px 32px -7px rgba(74, 74, 74, 1);
}

// .shadow-light() {
//     box-shadow: 10px 10px 24px -7px rgba(140,140,140,0.5);
// }

// .shadow-light-action() {
//     box-shadow: 10px 12px 24px -7px rgba(148,146,148,0.56);
// }