//relative to final css path! (static/css)
@relative-fonts-directory: './../assets/fonts';

@font-face {
    font-family: 'MarckScript';
    src: url("@{relative-fonts-directory}/Marck_Script/MarckScript-Regular.ttf");
}

@font-face {
    font-family: 'Merriweather';
    src: url("@{relative-fonts-directory}/Merriweather/Merriweather-Regular.ttf");
}

@font-face {
    font-family: 'Oranienbaum';
    src: url("@{relative-fonts-directory}/Oranienbaum/Oranienbaum-Regular.ttf");
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url("@{relative-fonts-directory}/Playfair_Display/PlayfairDisplay-Regular.ttf");
}

