@import './shared/common.less';

.grid-container {
    display: grid;
    grid-gap: 0px 0px;

    justify-items: stretch;
    align-items: stretch;
    justify-content: stretch;
    align-content: stretch;

    padding: 0px;
    margin: 0px;

    &#app-tiles-grid {
        grid-template-areas: 
            "last-read      last-read       last-read       .       settings"
            ".              theme           theme           .       settings"
            ".              .               add-book        .       .       "
            ;
        grid-template-rows: repeat(8em);
        grid-template-columns: auto auto auto auto auto;
    }

    &#book-tiles-grid {
        grid-template-areas: 
            "book           book            .               .       favourite"
        ;

    }
}

.grid-item.book {
    grid-area: book;

    &.favourite {
        grid-area: favourite !important;
    }   
}

.grid-item.app {
    &#last-read {
        grid-area: last-read;
    }

    &#theme-select {
        grid-area: theme;
    }

    &#app-config {
        grid-area: settings;
    }

    &#add-book-to-shelf {
        grid-area: add-book;
    }
}